.register{

    //position: relative;

    &__img {
        position: absolute;
        top: -88px;
        left: 94px;
    }

    &__arrowBack {
        position: absolute;
        top: 62px;
        left: 20px;
    }
    

    &__content {
        margin-top: 0px;
    }

    &__title{
        color: $secondary;
        margin-top:192px;
        text-align: left;
        margin-left: 20px;
        
    }

    &__inputs{
        padding:16px;
    }

   
}