.button{
    background-color:$principal;
    color:$white;
    font-size:16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:35px;
    padding-right:35px;
}