.textfield{
    position: relative;
    width: 100%;
    margin: 2rem auto;
    cursor: pointer;

    &__input{
        cursor: pointer;
        display: block;
        width: 100%;
        padding:10px;
        background-color: $white;
        border: 1px solid $principal;
        border-radius: 3px;

        &::placeholder{
            color: $secondary;
            opacity: 0.7;
        }

        &--icon {
            padding-left: 4rem;
        }
    }
}