.login{
    width: 100%;
    overflow: hidden;
    position: relative;

    &__background{
        position: absolute;
        top: -178px;
        right: -158px;
    }

    &__inputsDiv{
        width: 100%;
        padding: 0px 16px;
        top: 250px;
        margin-top: 250px;
    }

    &__title{
        width: 50%;
        text-align: left;
        font-size: 27px;
        color: rgba(119, 91, 163, 1);
    }

    &__olvidasteContra{
        text-align: left;
        margin-bottom: 35px;
        color:rgba(50, 40, 109, 1);
    }

    &__redesDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 55px;
        align-items: center;
        color: rgba(77, 62, 104, 1);
    }

    &__iconsDiv{
        width: 40%;
        margin-top: 9px;
        display: flex;
        justify-content: space-between;
    }

    &__registroDiv{
        width: 100%;
        display: flex;
        margin-top: 40px;
        justify-content: center;
        color: rgba(50, 40, 109, 1);
    }

    &__registroOption{
        margin-left: 10px;
        color: rgba(119, 91, 163, 1);
    }
}
