.cupon{
    box-shadow: 0px 3.24778px 3.24778px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 4.05973px 4.05973px;
    max-width: 150px;
    &__section{
        &--1{
            background-color: #629540;
          
        }
        &--2{
            
        }
        &--3{
            background-color: #EFEFEF;
        }
      
    }
   
}