
.retoFoto{
    width: 100%;
}
.retoFoto{
    width: 100%;
    margin: 132px 0px 0px 0px;
    padding: 0px 16px;
    text-align: left;
    color: #32286D;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    
    &__title{
        width: 100%;
        margin: 15px 0px 5px 0px;
        font-weight: 900;
        color: #32286D;
    }

    &__img{
        width: 100%;
        margin-top: 10px;
        border-radius: 7px;
        border: 5px solid #32286D;
    }

    &__btnDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 28px;
    }

    
    &__button{
        width: 50%;
        margin-top: 25px;
    }
}