
button,p,input,li,h3,h4,span{
    font-family: 'Nunito', sans-serif;
 
}
span{
    font-size: 12px;
}

h3{
   
    font-weight: 700;
}

h4{
    color:$white;
    font-size:17px;
    font-weight: 300;
}

p{
    font-size: 14px;
}


h2{
    color:$white;
    font-family: 'Futura Std';
    font-size:20px;
}


h1{
    color:$white;
    font-family: 'Futura Std';
    font-size: 24px;

    
}
