button,p,input,li{
    font-family: 'Nunito', sans-serif;
}


@font-face{
    font-family: 'futur';
   
    src: url("./recursos/tipografia/futur.ttf") ;

}

h1{
    font-weight: 700;
    font-family: 'futur', sans-serif;

}