.header{
    padding-top:40px;
    padding-bottom:20px;
    background-color: $principal;
    position: fixed;
    top:0;
    left:0;
    right:0;


    &__descrip{
        padding-left:10px;
        padding-right:10px;
        margin-top:20px;
    }
}