.retoDesc{
    width: 100%;
    margin: 132px 0px 0px 0px;
    padding: 0px 16px;
    text-align: left;
    color: #32286D;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    &__titleDiv{
        width: 100%;
        margin-top: 25px;
    }

    &__title{
        margin-bottom: 5px;
        font-weight: 900;
        color: #32286D;
    }

    &__img{
        width: 100%;
        margin-top: 10px;
        border-radius: 4px;
    }

    &__descDiv{
        margin-top: 25px;
    }

    &__reglasTitle{
        margin-bottom: 10px;
    }

    &__button{
        width: 40%;
        margin-top: 28px;
    }
}

.link{
    color:white;
}