@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import './Styles/reset';
@import './Styles/breakpoint';
@import './Styles/colores';
@import './Styles/tipografia';
@import './Styles/elementos';
@import './Componentes/Header/header';
@import './Componentes/Menu/menu';
@import './Componentes/Cupon/cupon';
@import './Componentes/Cupon/CuponElem/cuponElem';
@import './Componentes/Descuento/descuento';



@font-face{
    font-family: Nunito,sans-serif;
    src:  url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
}

@font-face {
  font-family: Futura Std;
  src: url('./Recursos/tipografia/FuturaStdBold.woff') ;
}




#app {
    font-family: Nunito,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    
  }
  

  @media screen and (max-width:480px) {
  
  
  }
  