@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, p, input, li, h3, h4, span {
  font-family: 'Nunito', sans-serif;
}

span {
  font-size: 12px;
}

h3 {
  font-weight: 700;
}

h4 {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 300;
}

p {
  font-size: 14px;
}

h2 {
  color: #FFFFFF;
  font-family: 'Futura Std';
  font-size: 20px;
}

h1 {
  color: #FFFFFF;
  font-family: 'Futura Std';
  font-size: 24px;
}

body {
  background-color: #f1f1f1;
}

button {
  background-color: #32286D;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

.textfield {
  position: relative;
  width: 100%;
  margin: 2rem auto;
  cursor: pointer;
}

.textfield__input {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1.5px solid #32286D;
  border-radius: 3px;
}

.textfield__input::-webkit-input-placeholder {
  color: #775BA3;
  opacity: 0.7;
}

.textfield__input:-ms-input-placeholder {
  color: #775BA3;
  opacity: 0.7;
}

.textfield__input::-ms-input-placeholder {
  color: #775BA3;
  opacity: 0.7;
}

.textfield__input::placeholder {
  color: #775BA3;
  opacity: 0.7;
}

.textfield__input--icon {
  padding-left: 4rem;
}

.header {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #32286D;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__descrip {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.nav {
  background-color: #FFFFFF;
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 0px;
  padding-right: 40px;
  -webkit-box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.menu {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu__ul {
  text-decoration: none;
  list-style: none;
}

.menu__li {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #775BA3;
}

.menu__a--selected {
  color: #689ECE;
}

.menu__a--selected svg > * {
  fill: #689ECE;
}

.menu__title {
  padding-top: 10px;
}

.cupones {
  margin-left: 0px;
  margin-top: 140px;
}

.cupones__menu {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cupones__span {
  color: #775BA3;
}

.cupones__span--selected {
  color: #32286D;
  height: 2px;
}

.cupones__span__title {
  font-weight: 700;
  font-size: 16px;
}

.cupones__span__line {
  position: fixed;
  margin-top: 7px;
  width: 105px;
  height: 4px;
  margin-left: -20px;
  display: none;
  border-radius: 5px;
}

.cupones__span__line--selected {
  -webkit-transition: margin-right 4s, color 1s;
  transition: margin-right 4s, color 1s;
  background-color: #53C2EA;
  display: block;
}

.cupones__line {
  margin-top: 8px;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 86%;
  height: 2px;
  background-color: gray;
}

.allCupones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cupon {
  margin-top: 20px;
  -webkit-box-shadow: 0px 3.24778px 3.24778px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3.24778px 3.24778px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 4.05973px 4.05973px;
  max-width: 160px;
  margin-left: 30px;
}

.cupon__section {
  border-radius: 9px;
  position: relative;
}

.cupon__section--1 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #775BA3;
  border-radius: 8px 8px 0px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cupon__section--1__zigzag {
  position: absolute;
  top: 39%;
  left: 0;
  width: 100%;
}

.cupon__section--1__logo {
  width: 50%;
}

.cupon__section--2 {
  padding-top: 10px;
  padding-bottom: 7px;
  background-color: #FFFFFF;
}

.cupon__section--2__titulo {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  color: black;
}

.cupon__section--3 {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #EFEFEF;
  border-radius: 0px 0px 8px 8px;
}

.cupon__section--3__vence {
  font-size: 14px;
}

.cupon__section--3__fecha {
  font-size: 12px;
  padding-top: 5px;
}

.dicountList {
  margin: 150px 16px 80px;
  overflow: scroll;
}

.cardDiscount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 151px;
  background-color: #FFFFFF;
  border-radius: 6.47px;
  margin-bottom: 11px;
}

.cardDiscount__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 127px;
  height: 100%;
  background-color: #E31D1A;
  border-radius: 6.47px 0 0 6.47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardDiscount__left--brown {
  background-color: #361C03;
}

.cardDiscount__left--pink {
  background-color: #FF74C7;
}

.cardDiscount__title {
  font-size: 17px;
  color: #32286D;
  margin: 15px 0px 0px 13px;
}

.cardDiscount__descrip {
  font-family: Nunito;
  font-size: 13px;
  color: #32286D;
  margin: 18px 0px 0px 13px;
}

.cardDiscount__infoUbi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sub {
  font-family: Nunito;
  color: #605EA7;
  font-size: 13px;
  margin: 20px 0px 0px 4px;
}

.ubi {
  margin: 16px 0px 0px 13px;
}

.gameList {
  margin: 142px 16px 0px;
}

.gameList__title {
  font-size: 17px;
  color: #32286D;
  margin: 15px 0px 18px 13px;
}

.lastGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 219.18px;
  background-repeat: no-repeat !important;
  background-size: 100%;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastGame__logo {
  width: 99px;
  height: 99px;
  margin-top: 22px;
  margin-bottom: 9px;
}

.lastGame__rect {
  background-color: #629540;
  width: 100%;
  height: 89px;
  position: relative;
  border-radius: 0px 0px 4px 4px;
}

.lastGame__name {
  font-size: 17;
  color: white;
  margin: 12px 0px 5px 14px;
}

.lastGame__descrip {
  font-size: 13;
  color: white;
  margin: 0px 0px 0px 14px;
}

.lastGame__bono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 17px;
  width: 70px;
  height: 53.89px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3.24778px 3.24778px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3.24778px 3.24778px rgba(0, 0, 0, 0.08);
}

.lastGame__bono--more {
  top: 35px;
}

.bonoNumber {
  color: #629540;
  font-size: 17px;
}

.bonoNumber--red {
  color: #E31D1A;
  top: 45px;
}

.bonoNumber--blue {
  color: #1A79BC;
}

.moreGameList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moreGameCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 122px;
  background-color: #E31D1A;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}

.moreGameCard--blue {
  background-color: #1A79BC;
}

.moreGameCard__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.moreGameCard__right {
  margin-left: 12px;
}

.titleGame {
  color: white;
  font-size: 17px;
  margin-top: 10px;
}

.descriptGame {
  font-family: Nunito;
  color: white;
  font-size: 13px;
  margin-top: 13px;
}

.profileHeader {
  width: 100%;
  height: 286px;
  background: #32286D;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  position: relative;
}

.profileHeader__allInfoHeader {
  width: 100%;
  height: 100%;
  padding: 30px 25px;
}

.profileHeader__optionsDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  position: relative;
}

.profileHeader__settingsIcon {
  height: 100%;
}

.profileHeader__pictureDiv {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  position: relative;
}

.profileHeader__onlyPictureDiv {
  width: 121px;
  height: 121px;
  position: relative;
}

.profileHeader__picture {
  border-radius: 100px;
  margin-bottom: 10px;
  position: absolute;
  right: 0px;
}

.profileHeader__editPicBtn {
  position: absolute;
  z-index: 10;
  border-radius: 100px;
  border-width: 0px;
  bottom: -18px;
  right: -18px;
  background-color: rgba(232, 232, 232, 0);
}

.profileHeader__nameUser {
  font-size: 17px;
  font-family: Nunito;
  z-index: 50;
  position: absolute;
  bottom: 0px;
}

.profileHeader__picos {
  width: 100%;
  position: absolute;
  top: 285px;
  right: 0px;
}

.profileHeader__background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dataUserDiv {
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
}

.dataUser {
  width: 75%;
  background-color: #E8E8E8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0px;
  margin-bottom: 10px;
}

.dataUser__icon {
  height: 24px;
  margin-left: 30px;
}

.dataUser__title {
  font-family: Nunito;
  color: #604CD3;
  font-size: 13px;
  margin-bottom: 3px;
}

.dataUser__text {
  font-family: Nunito;
  color: #4D3E68;
  font-size: 14px;
}

.dataUser__infoDiv {
  margin-left: 25px;
  text-align: left;
}

.viewIcon {
  margin-left: 100px;
}

.particle {
  position: absolute;
}

.particle__1 {
  width: 60px;
  top: 40px;
  right: 5px;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.particle__2 {
  width: 45px;
  top: 140px;
  right: 55px;
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
}

.particle__3 {
  width: 55px;
  bottom: 15px;
  right: 55px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.particle__4 {
  width: 40px;
  top: 40px;
  right: 145px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.particle__5 {
  width: 45px;
  top: -5px;
  right: 205px;
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
}

.particle__6 {
  width: 45px;
  top: 40px;
  left: 65px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.particle__7 {
  width: 45px;
  top: 140px;
  left: 7px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.particle__8 {
  width: 55px;
  bottom: 15px;
  left: 55px;
  -webkit-transform: rotate(-100deg);
          transform: rotate(-100deg);
}

.register__title {
  color: #775BA3;
  margin-top: 192px;
}

.register__inputs {
  padding: 16px;
}

.login {
  width: 100%;
}

.login__background {
  position: absolute;
  top: -160px;
  right: -175px;
}

.login__inputsDiv {
  width: 100%;
  padding: 0px 16px;
  top: 250px;
  margin-top: 250px;
}

.login__title {
  width: 50%;
  text-align: left;
  font-size: 27px;
  color: #775ba3;
}

.login__olvidasteContra {
  text-align: left;
  margin-bottom: 25px;
  color: #32286d;
}

.login__redesDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4d3e68;
}

.login__iconsDiv {
  width: 40%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__registroDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #32286d;
}

.login__registroOption {
  margin-left: 10px;
  color: #775ba3;
}

@font-face {
  font-family: Nunito,sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
}

@font-face {
  font-family: Futura Std;
  src: url("./Recursos/tipografia/FuturaStdBold.woff");
}

#app {
  font-family: Nunito,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
/*# sourceMappingURL=styles.css.map */