.cuponQr{
    width: 200px;
    position: absolute;
    margin-left:100px;

    &__article{
        &--1{
            background-color: #629540;
            height:100px;

        }

        &--2{
            background-color: white;
            

        }
    }
}