.cupon{
    margin-top:150px;
    box-shadow: 0px 3.24778px 3.24778px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 4.05973px 4.05973px;
    max-width: 160px;
    &__section{
       
        border-radius: 9px;
        position: relative;
       
        &--1{
            
            padding-top:20px;
            padding-bottom:20px;
            background-color: #775BA3;
            border-radius: 8px 8px 0px 0px;
            justify-content: space-around;
            align-items: center;

            &__zigzag{
                position:absolute;
                top:39%;
                left:0;
                width:100%;
              
                
            }
            

          
        }
        &--2{
            padding-top:10px;
            padding-bottom:7px;
            background-color: white;

            &__titulo{
                padding-top:10px;
                padding-bottom:10px;
                padding-left:10px;
                padding-right:10px;
                font-size: 17px;
                color:black;
            }
            
        }
        &--3{
            padding-top:10px;
            padding-bottom:15px;
            background-color: #EFEFEF;
            border-radius: 0px 0px 8px 8px;


            &__vence{
                font-size:14px;
            }

            &__fecha{
                font-size:12px;
                padding-top:5px;
                
            }
        }
      
    }
   
}